body {
  margin: 0 auto;
  width: 350px;
}

.dropdown-add-button {
  margin-left: 5px;
}

.stages-edit-view {
  margin-bottom: 10px;
}

input, textarea {
  margin-bottom: 5px;
}

.highlighted-title {
  text-decoration: underline;
}

.schedule-start-button {
  align-self: center;
  margin-top: 4px;
}

.timer-pause-button {
  margin-top: -6px;
  margin-left: 15px;
}

.schedule-edit {
  margin-top: 18px;
}

.stage-add-button {
  align-self: center;
  margin-left: 5px;
  margin-top: 8px;
}

.stage-edit-button {
  align-self: center;
  margin-left: 5px;
}

.subtitle {
  text-align: center;
}

.schedule-save-button {
  align-self: center;
  margin-left: 10px;
}

.schedule-edit-button {
  margin-top: 4px;
  margin-left: 5px;
  align-self: center;
}